body {
    font-family: "Archivo Black", sans-serif;
  
    font-family: "MedievalSharp", cursive;
    font-weight: lighter;
    /*max-width: 650px;*/
    margin: 0 auto;
    /*padding: 0 16px;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: #062726;
  }

  h1 {
    color: #FFD700;
  }
  
  header {
    background: #252422;
  }
  
  header nav {
    margin: 15px;
  }
  
  header a {
    text-decoration: none;
    margin-right: 20px;
    color: aliceblue;
    transition: 0.3s;
  }
  
  header a:hover {
    /* opacity: 0.6; */
    color: #881c9b;
  }
  
  footer {
    margin: 0 10px 10px 10px;
    align-self: center;
    color: #f7d308d0;
    width: 80%;
    border-top: 1px solid #f7d308d0;
    text-align: center;
  }

  /* index page styling */
  .index-content {
    text-align: center;
    color: #f7d308d0;
  }

  .index-header {
    display: flex;
  }
  
  .content {
    width: 70vw;
    height: 70vh;
    background: #540b0e;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px auto;
    border: 2px solid black;
    /* box-shadow: 10px 5px 5px #333333; */
    overflow-y: scroll;
  }
  
  .card {
    height: 250px;
    margin: 20px;
    background: #312244;
    color: white;
  }

  .card-body {
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 1180px) {
    .index-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  /* ---------------------- */
  /* ---------------------- */
  /* ---------------------- */


  /* students page settings */
  .students-main-content {
    width: 78vw;
    height: 80vh;
    background: red;
    margin: 20px auto;
    display: flex;
    
  }

  .students-main-content button {
    width: 100px;
  }

  .students-header {
    display: flex;
    flex-direction: row;
    color: aliceblue;
    padding: 5px;
    justify-content: space-between;
    margin: 0;
  }

  .students-header h1{
    font-size: 1.8rem;
    margin: auto 10px;
  }

  .house-section {
    height: 100%;
    width: 25%;
    transition: 0.6s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .house-section h2 {
    margin-top: 10px;
  }

  .house-section:hover {
    width: 40%;
  }

  @media (max-width: 1180px) {
    .students-main-content {
      flex-direction: column;
    }

    .house-section {
      height: 30%;
      width: 100%;
      /* transition: 0.6s; */
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }

    .house-section:hover {
      width: 100%;
    }

    .students-header {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .students-header h1{
      font-size: 1.8rem;
      margin: 10px auto;
    }

    .house-section h2 {
      display: none;
    }
  }

  #ravenclaw {
    background-image: url('../images/ravenclaw.jpg');
    background-size:cover;
    background-position:center;
    color: #f7d308d0;
  }

  #hufflepuff {
    background-image: url('../images/hufflepuff.jpg');
    background-size:cover;
    background-position:center;
  }

  #slytherin {
    background-image: url('../images/slytherin.jpg');
    background-size:cover;
    color: antiquewhite;
    background-position:center;
  }

  #gryffindor {
    color: #FFD700;
    background-image: url('../images/gryffindor.jpg');
    background-size:cover;
    background-position:center;
  }

  /* ------------------------- */
  /* ------------------------- */


  /* students by house styling */
  .students-byhouse-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: aliceblue;
    padding: 5px;
    margin: 0;
  }

  .students-byhouse-header h1 {
    font-size: 2rem;
    margin: auto 10px;
  }

  .students-byhouse-header a {
    font-size: 1rem;
    margin: auto 10px;
    cursor: pointer;
  }

  @media (max-width: 1180px) {
    .students-byhouse-header {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      color: aliceblue;
      padding: 5px;
      margin: 0;
      align-items: center;
    }

    .students-byhouse-header h1 {
      font-size: 1.5rem;
    }
  
    .students-byhouse-header a {
      font-size: .8rem;
    }
  }
  /* ----------------------- */

  /* staff styling settings */

  .staff-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: aliceblue;
    padding: 5px;
    margin: 0;
  }

  .staff-header h1 {
    font-size: 1.8rem;
    margin: auto 10px;
  }

  .staff-header a {
    font-size: 1rem;
    margin: auto 10px;
    cursor: pointer;
  }

  @media (max-width: 1180px) {
    .staff-header {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      color: aliceblue;
      padding: 5px;
      /* margin: 0; */
    }

    .staff-header a {
      font-size: .8rem;
    }

    .staff-header h1 {
      font-size: 1.5rem;
      
    }
  }


  /* ---------------------- */
  /* ---------------------- */
  /* ---------------------- */

  /* hogwarts houses page styling */

  .hogwarts-houses-header {
    text-align: center;
    margin: 15px auto;
  }


  /* ----------------------------- */
  /* ----------------------------- */
  /* ----------------------------- */

  /* house individual page styling */

  .house-individual-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: aliceblue;
    padding: 5px;
    margin: 0;
  }

  .house-individual-header h1 {
    font-size: 2rem;
    margin: auto 10px;
  }

  .house-individual-header a {
    font-size: 1rem;
    margin: auto 10px;
    cursor: pointer;
  }

  .house-individual-main-content {
    width: 70vw;
    height: 75vh;
    /* background: #272932; */
    /* background: #14080E; */
    background: #1F2421;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    border-radius: 20px;
  }
  
  .house-image {
    width: 25%;
    height: 80%;
    border: 2px solid #FFD639;
    overflow: hidden;
  }

  .house-image img {
    width: 100%;
    height: 100%;
  }

  .house-description {
    width: 50%;
    height: 76%;
    color: #FDF4B0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5%;
    /* margin: ; */
  }

  .house-description h1, .house-description strong {
    color: #f7d308d0;
  }

  @media (max-width: 1180px) {
    .house-individual-header {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .house-individual-header h1 {
      font-size: 1.7rem;
    }

    .house-individual-header a {
      font-size: .8rem;
    }

    .house-individual-main-content {
      flex-direction: column;
    }

    .house-image {
      width: 50%;
      max-height: 30%;
      margin: 10px;
      border-radius: 50%;
    }

    .house-description {
      width: 90%;
    }

    .house-description h1 {
      font-size: 1.4rem;
    }

    .house-description p, .house-description strong, .house-description small {
      font-size: .8rem;
    }
  }

  /* --------------------- */
  /* --------------------- */
  /* --------------------- */
 

  

  