{% extends 'index.html' %}

{% block header %}
<header class="students-header">
    {% block title %}
        <h1>{{ title }}</h1>
    {% endblock title %}
    <nav>
    <a href="{{ url_for('index')}}">Home</a>
    <a href="{{ url_for('hogwarts_staff')}}">Hogwarts Staff</a>
    <a href="{{ url_for('houses')}}">Houses</a>
    </nav>
</header>
{% endblock header %}

{% block content %}
<div class="students-main-content">
    <div class="house-section" id="gryffindor">
        <h2>Gryffindor</h2>
        <a type="button" class="btn btn-warning" href="{{ url_for('chars_by_house', house='gryffindor') }}">See</a>
    </div>
    <div class="house-section" id="slytherin">
        <h2>Slytherin</h2>
        <a type="button" class="btn btn-light" href="{{ url_for('chars_by_house', house='slytherin') }}">See</a>
    </div>
    <div class="house-section" id="hufflepuff">
        <h2>Hufflepuff</h2>
        <a type="button" class="btn btn-dark" href="{{ url_for('chars_by_house', house='hufflepuff') }}">See</a>
    </div>
    <div class="house-section" id="ravenclaw">
        <h2>RavenClaw</h2>
        <a type="button" class="btn btn-primary" href="{{ url_for('chars_by_house', house='ravenclaw') }}">See</a>
    </div>
</div>
{% endblock content %}